@model Zadanie_1_MVC_Dobre.Models.Klient

<div class="rozmiar ">
<h1 class="h1 mb-4 text-center">Dodaj nowego użytkownika</h1>
<form asp-controller="Test" asp-action="Dodaj">


@Html.Partial("_FormularzPartial", Model);

	</form>


</div>